.container {
    border: 2px solid red;
    min-height: 300px;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: center;
    /* justify-content: space-between; */
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.item {
    width: 100px;
    height: 100px;
    background-color: brown;
    margin: 10px;
    font-size: 50px;
    text-align: center;
}